@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Share+Tech+Mono');

$dark-gray: #525252;
$mouse-width: 12px;

@media (max-width: 600px) {
  .main {
    &__name {
      display: none;
    }
    &__contents {
      display: none;
    }
  }
  .Skill {
    &__line::after {
      content: '10';
    }
  }
  .main::before {
    content: 'JI HAHN SOL';
    color: #313131;
    position: relative;
    top: 150px;
  }
}

@media (max-width: 1160px) {
  .Who {
    background-color: #fbe0a9;
  }
}
@media (max-width: 1024px) {
  .scroll-down {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .main {
    &__name {
      display: none;
    }
    &__contents {
      margin-top: 200px;
      color: #313131;
    }
  }
  .main::before {
    content: 'JI HAHN SOL';
    line-height: 10rem;
    font-size: 3rem;
  }
  .scroll-down {
    margin-top: 50px;
  }
}

@media (max-width: 320px) {
  .Baeminchan {
    text-align: center;
    height: 100vh;
    &__bg {
      padding: 100px;
      background: url('../images/chan1.png') no-repeat;
      background-position: 65% 50%;
    }
    &__title {
      display: none;
    }
    &__info::before {
      content: 'Baeminchan Copy';
      font-size: 2.5rem;
      margin-bottom: 20px;
      display: inline-block;
      margin-left: -50px;
      color: #35c0bb;
      text-shadow: 4px 3px 3px rgb(107, 107, 107);
    }
  }
  .main {
    &__name {
      display: none;
    }
    &__contents {
      display: none;
    }
  }

  .scroll-down {
    width: 200px;
  }
  .main::before {
    content: 'JI HAHN SOL';
    position: relative;
    top: 0;
  }
  .holder {
    width: 250px;
    height: 150px;
    margin: 20px;
  }
  .Project {
    padding: 100px 0 100px 0;
    &__img {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .Skill {
    &__code {
      font-size: 0.7rem;
      padding-left: 0;
    }
    &__line::after {
      content: '10 11 12';
    }
    &__comments {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1325px) {
  .Project {
    padding: 100px 0 100px 0;
    &__img {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

* {
  font-family: 'Share Tech Mono', monospace;
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  text-align: left;
}

.title-effect {
  font-size: 3rem;
  text-align: center;
}

.Back {
  &__backbtn::after {
    content: 'BACK';
    padding-left: 80px;
  }
  &__backbtn {
    border: none;
    position: fixed;
    left: 10%;
    top: 5%;
    width: 80px;
    height: 50px;
    background: url('../images/back.png') no-repeat;
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.main {
  padding-top: 150px;
  height: 100vh;
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: #fff;
  &__name {
    font-size: 5rem;
  }
  &__name:before,
  &__name:after {
    content: 'Ji Hahn Sol';
    position: absolute;
    width: 100%;
    overflow: hidden;
    color: #fcf7fa;
    text-align: center;
  }
  &__name:before {
    left: -2px;
    text-shadow: 2px 0 #313131;
    clip: rect(0, 900px, 0, 0);
    animation: glitch 3s infinite linear;
  }
  &__name:after {
    left: 2px;
    text-shadow: -1px 0 #e23d1f;
    clip: rect(0, 900px, 0, 0);
    animation: glitch 2s infinite linear;
  }
  &__contents {
    line-height: 1rem;
    font-size: 0.8rem;
  }
}

@keyframes glitch {
  @for $i from 0 through 30 {
    #{percentage($i*(1/30))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

.scroll-down {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mouse {
  display: inline-block;
  vertical-align: middle;
  width: $mouse-width;
  height: 22px;
  position: relative;
  border: 2px solid $dark-gray;
  border-radius: $mouse-width;

  &:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: $dark-gray;
    animation: mouse-animation 2.2s ease-in-out infinite;
  }
}

@keyframes mouse-animation {
  0% {
    transform: scale(1, 0);
    transform-origin: 50% 0;
  }
  20%,
  80% {
    transform: scale(1, 1);
  }
  81% {
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 50% 100%;
  }
}

.left,
.right {
  display: inline-block;
  vertical-align: middle;
  padding: 0 18px;
  font-size: 13px;
  font-weight: bold;
  color: $dark-gray;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}
