* {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  line-height: 10rem;
}

.main {
  padding-top: 100px;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: #fff;
  &_name {
    font-size: 4rem;
  }
  &_contents {
    margin-top: 20px;
    line-height: 2rem;
    font-size: 1.3rem;
  }
}

img {
  width: 350px;
  height: 250px;
  margin-right: 10px;
}
